<img src="./figures/pylogo.png" alt="Indentation" width="50%" height="50%">

# 1 Python Basics: 

## 1.1 Variables

A variable is an identifier or name to store information or results.

All python programs use variables. It is important to remember that each type of information is stored in a special type of variable.

A type of variable is an information about the contents of the variable. The type of variable will tell the python interpreter what it can do or not with this variable.

     - Python is susceptible to Breakage: it can make the difference between upper and lower case letters
     - You can not start a variable with a number
     - Do not use accents in variable names.
     - function : type() give you informations on the type of our variable.

In [1]:
m=3.2

In [2]:
int(m)

3

### 1.1.1 Numeric type: 

<table border="1" class="docutils">
<colgroup>
<col width="27%">
<col width="57%">
</colgroup>
<tbody valign="top">

<tr><td><tt class="docutils literal"><span class="pre">Integer: int()</span></tt></td>
<td>1 is an integer, 1.0 is not an integer</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">Float: float()</span></tt></td>
<td>Number that includes a decimal part </td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">Complex numbers</span></tt></td>
<td>Association between a real number and an imaginary number</td>
</tr>

</tbody>
</table>

In [3]:
type(m)

float

In [4]:
int(3)

3

In [5]:
int(3.5)

3

In [6]:
float(3)

3.0

In [7]:
3+5

8

### 1.1.2 Booleans: 

- variable storing binary values: True ou False
- data types result from logical operations

Very useful in if() conditional structures

In [8]:
3>5

False

In [9]:
3<5

True

### 1.1.3 Strings:

Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes ('...') or double quotes ("...")

In [1]:
print("Hello")

Hello

In [2]:
type('Hello')

str

In [3]:
type("15")

str

In [4]:
"15" + 2

TypeError: can only concatenate str (not "int") to str

But we can concatenate two strings together.

In [5]:
"15" + "56"

'1556'

In [6]:
str(15)

'15'

## 1.2 Python Arithmetic Operators 

<table border="1" class="docutils">
<colgroup>
<col width="27%">
<col width="57%">
</colgroup>
<thead valign="bottom">
<tr><th class="head">Operator</th>
<th class="head">Description</th>
</tr>
</thead>
<tbody valign="top">

<tr><td><tt class="docutils literal"><span class="pre">+</span></tt></td>
<td>Adds values </td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">-</span></tt></td>
<td>Subtracts right hand operand from left hand operand.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">&#42;</span></tt></td>
<td>Multiplies values on either side of the operator</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">/</span></tt></td>
<td>Divides left hand operand by right hand operand </td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">%</span></tt></td>
<td>Divides left hand operand by right hand operand and returns remainder (modulus)</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">&#42;&#42;</span></tt></td>
<td>Performs exponential (power) calculation on operators</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">//</span></tt></td>
<td>Floor Division - The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity) −</td>
</tr>
</tbody>
</table>

In [16]:
5-3 # Subtraction

2

In [17]:
5+3 # Addition

8

In [18]:
5*3 # Multiplication

15

In [19]:
5/3 # division

1.6666666666666667

In [20]:
5//3 # Floor Division

1

In [21]:
5%3 # Modulus

2

In [22]:
5**3 # power

125

In [23]:
ma_variable1=10
ma_variable2=20
ma_variable1*ma_variable2

200

In [24]:
ma_variable1*10

100

We cannot apply arithmetic operators on text.

In [25]:
"mon texte" - "mon texte"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [7]:
"Hi" + " how are you ?"

'Hi how are you ?'

In [8]:
"Hi " * 5

'Hi Hi Hi Hi Hi '

## 1.3 Python Comparison Operators

These operators compare the values on either sides of them and decide the relation among them. They are also called Relational operators.
 

The true value of relationships is often used to make decisions by ensuring that conditions are met to perform a certain task. 

<table border="1" class="docutils">
<colgroup>
<col width="27%">
<col width="57%">
</colgroup>
<thead valign="bottom">
<tr><th class="head">Operator</th>
<th class="head">Description</th>
</tr>
</thead>
<tbody valign="top">

<tr><td><tt class="docutils literal"><span class="pre">==</span></tt></td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">!=</span></tt></td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">&gt;</span></tt></td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">&lt;</span></tt></td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">&gt;=</span></tt></td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">&lt;=</span></tt></td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
</tr>

<tr><td><tt class="docutils literal"><span class="pre">is</span></tt></td>
<td>Identity operators compare the memory locations of two objects. Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">is</span> <span class="pre">not</span></tt></td>
<td>Identity operators compare the memory locations of two objects. Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.</td>

</tr>
</tbody>
</table>

In [9]:
1 == 1

True

In [10]:
1==2

False

In [11]:
1!=2

True

In [12]:
1>2

False

In [32]:
2>1

True

In [33]:
1>1

False

In [34]:
1<2

True

In [35]:
1>=1

True

In [36]:
2 <= 5

True

In [37]:
a=1 # Warning !!!! this is an assignment  operator
a

1

## 1.4 Python Logical Operators

Logical operators compare Boolean expressions instead of values as in the previous point.

They are used to create Boolean expressions that help us know if a certain task should be performed or not. 

<table border="1" class="docutils">
<colgroup>
<col width="27%">
<col width="57%">
</colgroup>
<thead valign="bottom">
<tr><th class="head">Operator</th>
<th class="head">Description</th>
</tr>
</thead>
<tbody valign="top">

<tr><td><tt class="docutils literal"><span class="pre">and (et)</span></tt></td>
<td>If both operands are true then condition becomes true.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">or (ou)</span></tt></td>
<td>If any of the two operands are non-zero then condition becomes true.</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">not(non)</span></tt></td>
<td>Used to reverse the logical state of its operand.</td>
</tr>

</tbody>
</table>

In [2]:
# and
(3==3) and (4==4)

True

In [3]:
(3==3) and (4==5)

False

In [4]:
# or
(3==3) or (4==5)

True

In [5]:
(3!=3) or (4==5)

False

In [6]:
#  not
not((3!=3) or (4==5))

True

## 1.5 Python Assignment Operators

Assignment operators store a value in a variable. We have already seen the simplest case (=), but python offers many other operators of this type, in particular to perform an arithmetic operation at the same time as the assignment.

<table border="1" class="docutils">
<colgroup>
<col width="27%">
<col width="57%">
</colgroup>
<thead valign="bottom">
<tr><th class="head">Operator</th>
<th class="head">Description</th>
</tr>
</thead>
<tbody valign="top">

<tr><td><tt class="docutils literal"><span class="pre">=</span></tt></td>
<td>Assigns values from right side operands to left side operand </td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">+=</span></tt></td>
<td>It adds right operand to the left operand and assign the result to left operand</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">-=</span></tt></td>
<td>It subtracts right operand from the left operand and assign the result to left operand</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">*=</span></tt></td>
<td>It multiplies right operand with the left operand and assign the result to left operand</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">/=</span></tt></td>
<td>It divides left operand with the right operand and assign the result to left operand</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">%=</span></tt></td>
<td>It takes modulus using two operands and assign the result to left operand</td>
</tr>

<tr><td><tt class="docutils literal"><span class="pre">**=</span></tt></td>
<td>Performs exponential (power) calculation on operators and assign value to the left operande</td>
</tr>
<tr><td><tt class="docutils literal"><span class="pre">//=</span></tt></td>
<td>It performs floor division on operators and assign value to the left operand</td>

</tr>
</tbody>
</table>

In [43]:
Mavariable = 5

In [44]:
Mavariable = 2
Mavariable

2

In [45]:
Mavariable = 5 
Mavariable += 2 
Mavariable

7

In [46]:
Mavariable = 5 
Mavariable -= 2 
Mavariable

3

In [47]:
Mavariable = 5 
Mavariable *= 2 
Mavariable

10

In [48]:
Mavariable = 5. 
Mavariable /= 2 
Mavariable

2.5

In [49]:
Mavariable = 5 
Mavariable %= 2 
Mavariable

1

In [50]:
Mavariable = 5 
Mavariable **= 2 
Mavariable

25

In [51]:
Mavariable = 5. 
Mavariable //= 2 
Mavariable

2.0