<img src="./figures/pylogo.png" alt="Indentation" width="50%" height="50%">



# Fomation Python: Les listes 

La struture dite "liste" est fondamentale dans la programmation Python. 

Les listes permettent de regrouper un ensemble de valeurs sous forme ordonnée et modifiable accessible via des index. 

On écrit tous les éléments de la liste en les séparant par des virgules et le tout encadré par des crochets : 

             - ma_liste = [ , , , , ] 


Python est un langage orienté-objet, les listes sont associées à des méthodes: objet.methode()

On peut appliquer des fonctions sur les listes

## 1- Créer une liste

Pour crée une lixte, on écrit tous les éléments de la liste en les séparant par des virgules et le tout encadré par des crochets.

In [1]:
ma_liste=[1,2,3,4,5,6,7,8,"hello",10.5]

In [2]:
print(ma_liste)  # fonction pour voir ce qui compose notre liste

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5]

On peut aussi utiliser la fonction <b>range()</b> pour générer une liste composée d'une simple suite arithmétique.

In [3]:
ma_liste=list(range(10))
ma_liste

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
ma_liste=list(range(1981,2011,2))
ma_liste

[1981,
 1983,
 1985,
 1987,
 1989,
 1991,
 1993,
 1995,
 1997,
 1999,
 2001,
 2003,
 2005,
 2007,
 2009]

Lorsque l'on travaille avec un objet sous Python, la commande dir() nous montre toujours les tâches que nous pouvons réaliser avec cet objet: dir(ma_liste)

In [5]:
dir(ma_liste)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## 2- Parcourir des listes : 
Une fois la liste crée, nous pouvons accéder aux éléments de notre liste en utilisant les index de cette dernière. 

Le premier item commence toujours avec l'index 0. Pour lire la premier item on utilise la valeur 0, le deuxième on utilise la valeur 1, etc.

Il est d'ailleurs possible de modifier une valeur avec son index

In [6]:
ma_liste=[1,2,3,4,5,6,7,8,"hello",10.5]
ma_liste[:] # Affiche toutes les occurences

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5]

In [7]:
ma_liste[1] # pour accéder à un élement de la liste: ici on prend le deuxième élément.

2

In [8]:
ma_liste[2:4] # slicing: pour accéder aux éléments entre la 3ème position et la 4ème

[3, 4]

In [9]:
ma_liste[:4] # slicing: pour accéder tous les éléments jusqu'à l'index 4 ou 4ème position

[1, 2, 3, 4]

In [10]:
ma_liste[3:] # slicing: pour accéder tous les éléments à partir de l'index 3

[4, 5, 6, 7, 8, 'hello', 10.5]

In [11]:
ma_liste[0:2],ma_liste[5:7] # pour choisir plusieurs éléments, on fait plusieurs listes
# on crée ici un tuple: qui contient des listes

([1, 2], [6, 7])

In [12]:
ma_liste[-2] # pour récupérer la 2ème valeur à partir de la fin , avec les index négatifs, on ne part plus de 0 .

'hello'

In [13]:
ma_liste[1:-4] # on part de l'index 1, avec le slicing , on s'arrête au 4 ème index en partant de la fin

[2, 3, 4, 5, 6]

In [14]:
ma_liste[::2] # pour extraire les éléments avec un incrément: ici on extrait les index pairs

[1, 3, 5, 7, 'hello']

In [15]:
ma_liste[1::2] # pour extraire les éléments avec un incrément: ici on extrait les indexs impairs

[2, 4, 6, 8, 10.5]

## 3- Modifier des listes 

- pour <b>ajouter</b> un élément: on utilise une méthode append

In [16]:
ma_liste=[1,2,3,4,5,6,7,8,"hello",10.5]
ma_liste

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5]

In [17]:
ma_liste.append(2)

In [18]:
print(ma_liste)

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5, 2]

In [19]:
ma_liste

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5, 2]

   - pour <b>insérer</b>  un élement dans notre liste à un index choisi: méthode insert()

In [20]:
ma_liste.insert(5,"nouvelle")

In [21]:
print(ma_liste)

[1, 2, 3, 4, 5, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

- pour <b>modifier</b> une valeur dans notre liste

In [22]:
ma_liste[0]="a"

In [23]:
print(ma_liste)

['a', 2, 3, 4, 5, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

- pour <b>modifier</b> plusieurs éléments de notre liste: slicing

In [24]:
ma_liste[3:5]=[8,10,11,22]

In [25]:
print(ma_liste)

['a', 2, 3, 8, 10, 11, 22, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

- pour <b>supprimer</b> des valeurs d'une liste: 2 méthodes

In [26]:
ma_liste[0:2]=[]  # supprimer avec du slicing 
print(ma_liste)

[3, 8, 10, 11, 22, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

In [27]:
ma_liste

[3, 8, 10, 11, 22, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

In [28]:
del ma_liste[3] # supprimer avec des mots clefs :https://fr.wikibooks.org/wiki/Programmation_Python/Tableau_des_mots_r%C3%A9serv%C3%A9s

In [29]:
print(ma_liste)

[3, 8, 10, 22, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

## 4-  opérations utiles sur les listes 

- pour <b>concatener</b> deux listes

In [30]:
ma_liste1=[1,2,3,4,5]

In [31]:
ma_liste2=[6,7,8,9,10]

In [32]:
ma_liste3=ma_liste1+ma_liste2

In [33]:
ma_liste3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- pour <b>duppliquer</b> une liste

In [34]:
ma_liste1=[1,2,3,4,5]
ma_liste1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

- méthode <b>.reverse()</b> pour <b>inverser</b> les éléments d'une liste

In [35]:
ma_liste1=[1,2,3,4,5]
print(ma_liste1)
ma_liste1.reverse()
print(ma_liste1)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

- méthode <b>.count()</b> pour <b>compter</b> le nombre d'occurence dans une liste

In [36]:
ma_liste2=liste = ["a","a","a","b","c","c"]
ma_liste2.count("a")

3

- méthode <b>.index()</b> pour <b>trouver l'index</b> d'une valeur dans une liste

In [37]:
ma_liste2=liste = ["a","a","a","b","c","c"]
ma_liste2.index("c")

4

- fonction <b>sum()</b> pour <b>sommer</b> les éléments d'une liste

In [38]:
ma_liste1=[1,2,3,4,5]
sum(ma_liste1)

15

- fonction <b>.len()</b> pour connaitre <b>le nombre d'items</b> d'une liste

In [39]:
len(ma_liste1)

5

- méthode <b>.sort()</b> pour <b>trier</b> les items d'une liste

In [40]:
ma_liste = [90,3,8,4,1,10,25,99]
ma_liste.sort()

In [41]:
ma_liste

[1, 3, 4, 8, 10, 25, 90, 99]

In [42]:
ma_liste = [90,3,8,4,1,10,25,99]
ma_liste

[90, 3, 8, 4, 1, 10, 25, 99]

In [43]:
ma_liste.sort()

In [44]:
ma_liste.reverse()

In [45]:
ma_liste

[99, 90, 25, 10, 8, 4, 3, 1]

- fonctions <b>min()</b> et <b>max()</b> pour extraire le <b>minimum</b> ou le <b>maximum</b> d'une liste

In [46]:
ma_liste

[99, 90, 25, 10, 8, 4, 3, 1]

In [47]:
min(ma_liste) # fonction pour extraire le minimum de notre liste

1

In [48]:
max(ma_liste) # fonction pour extraire le maximum de notre liste

99

- association d'une boucle <b>for</b> et de la fonction <b>print()</b> pour afficher les valeurs d'une liste

In [49]:
list_mois = ["jan","fev","mar"]
for mois in list_mois:
    print(mois)

jan
fev
mar

- fonction <b>enumerate()</b> pour afficher les valeurs d'une liste ainsi que son index associé

In [50]:
list_mois = ["jan","fev","mar"]
for mois in enumerate(list_mois):
     print(mois)

(0, 'jan')
(1, 'fev')
(2, 'mar')

- méthode <b>.split()</b> pour transformer une chaîne de caractère en liste

In [51]:
ma_chaine = "Janvier-Fevrier-Mars"
ma_chaine.split("-")

['Janvier', 'Fevrier', 'Mars']

- méthode <b>.join()</b> pour transformer une liste en chaîne de caractères

In [52]:
liste = ['Janvier', 'Fevrier', 'Mars']
":".join(liste)

'Janvier:Fevrier:Mars'

## 5- Les tuples

- 1 tuple est une liste, soit ensemble de valeur stockée, mais à la différence qu'un tuple n'est pas modifiable comme dans une liste.
- l'intérêt d'un tuple est ce qui est rangé dans un tuble ne sera jamais modifiable

- On écrit tous les éléments d'un tuple en les séparant par des virgules et le tout encadré par des parenthèses : 
             - mon_tuple = ( , , , , )
             
On utilisera un tuple pour définir des sortes de constantes qui n'ont donc pas vocation à changer.

In [53]:
tuple1=(1,2,3,4,5)

In [54]:
tuple1

(1, 2, 3, 4, 5)

In [55]:
tuple1[0]=0 # on ne peut pas modifier un tuple

TypeError: 'tuple' object does not support item assignment

In [56]:
tuple1[1]

2

## - Exercice sur les listes:

## Objectif: Manipuler une liste contenant les notes de 20 élèves

        1- Créer une liste nommée « mes_notes » qui contient les nombres suivant : 
                     19,7,15,9,10,6,18,10,16,14,13,10,2,20,17,8,12,10,11,4

        2- Calculer la moyenne générale de cette classe de 20 élèves et ranger le résultat dans une variable nommée « moyenne_generale »

        3- Trouver la note la plus faible et la note la plus élevée

        4- Trier la liste des notes de la plus grande à la plus petite
        
        5- Remplacer la note 2 par 6
        
        6- Compter le nombre de notes égales à 10 dans la classe

        7- Compter le nombre de notes égales à 10 dans la classe
        
        8- Trouver le nombre d’élèves avec une note > 10

1- Création de la liste mes notes

In [57]:
mes_notes=[19,7,15,9,10,6,18,10,16,14,13,10,2,20,17,8,12,10,11,4]

In [58]:
mes_notes

[19, 7, 15, 9, 10, 6, 18, 10, 16, 14, 13, 10, 2, 20, 17, 8, 12, 10, 11, 4]

2 - calcul de la moyenne  générale et assignation du résultat dans une variable: on va importer la librairie mathématique numpy

In [59]:
import numpy
moyenne_generale=numpy.mean(mes_notes)

In [60]:
moyenne_generale

11.55

3- trouver la note la plus petite et la note la plus grande: fonctions min() et max()

In [61]:
min(mes_notes)

2

In [62]:
max(mes_notes)

20

- trier les notes de la plus grande à la plus petite: 2 méthodes 
    - methode 1 :

In [63]:
mes_notes.sort()

In [64]:
mes_notes

[2, 4, 6, 7, 8, 9, 10, 10, 10, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [65]:
mes_notes.reverse()

In [66]:
mes_notes

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 10, 10, 10, 9, 8, 7, 6, 4, 2]

   - Méthode 2: utilisation de l'option reverse de la méthode .sort()

In [67]:
help(mes_notes.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [68]:
mes_notes.sort(reverse=True)

In [69]:
mes_notes

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 10, 10, 10, 9, 8, 7, 6, 4, 2]

 - Modifier la note 2 par 6

In [70]:
mes_notes[19]=6

In [71]:
mes_notes

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 10, 10, 10, 9, 8, 7, 6, 4, 6]

- combien d'élèves ont 10 ? : méthode count()

In [72]:
mes_notes.count(10)

4

- Combien d'élèves ont une note supérieur à 10: on va passer par un array ou un tableau, grâce à ce type, on pourra faire une comparaison

In [73]:
mes_notes_array=numpy.asarray(mes_notes)

In [74]:
mes_notes_array

array([20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 10, 10, 10,  9,  8,  7,
        6,  4,  6])

In [75]:
mes_notes_array[mes_notes_array>10] # affichage des notes supérieures à 10

array([20, 19, 18, 17, 16, 15, 14, 13, 12, 11])

In [76]:
mes_notes_array>10 # cette opération est un masque avec des booléens

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False])

In [77]:
len(mes_notes_array[mes_notes_array>10])

10

In [78]:
mes_notes_array[mes_notes_array>10]

array([20, 19, 18, 17, 16, 15, 14, 13, 12, 11])