<img src="./figures/pylogo.png" alt="Indentation" width="50%" height="50%">



# 2 Python training: List() 


Python includes several built-in container types, but the most common ones are lists and tuples, which we would see in this tutorial.

There are certain things you can do with all container types. These operations include indexing, slicing, adding, multiplying. In addition, Python has built-in functions like finding the length of a sequence, finding its largest and smallest elements...

Each element of a sequence is assigned by a number - its position or index. The first index is zero, the second index is one...

Creating a list is as simple as putting different comma-separated values between square brackets : 

             - list1 = [ a, b, c, d, e]
             - list2 = [ 1, 2, 3, 4, 5]


Python is an object-oriented language, lists are associated with methods: object.method()

Functions can be applied to lists.

## 2.1 Create a list

To create a list, we use comma-separated values between square brackets.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,"hello",10.5]

In [ ]:
print(my_list)  # fonction to print elements in list

We can use <b>range()</b> function to generate a sequence of numbers over time.

In [ ]:
my_list = list(range(10))
my_list

In [ ]:
my_list = list(range(1981,2011,2))
my_list

When we work with Python object, dir() command always shows us the tasks we can do with this object: dir(my_list)

In [ ]:
dir(my_list)

## 2.2 Accessing Values in Lists : 

To access values in a list, use the square brackets for slicing along with the index or indices to obtain value available at that index.

The first index is zero, the second index is one... to read first element, we use index 0. Then to read last element, we use -1 index. 

It is also possible to modify a value with its index.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,"hello",10.5]
my_list[:]  # To use all elements

In [ ]:
my_list[1] # to access an item from the list: here we access the second element.

In [ ]:
my_list[2:4] # slicing:  to access the elements between the 3rd position and the 4th

In [ ]:
my_list[:4] # slicing: to access all elements up to index 4 or 4th position

In [ ]:
my_list[3:] # slicing: to access all elements from index 3

In [ ]:
my_list[-2] # to get the 2nd value from the end, with use negative indexes, we do not start from 0 anymore.

In [ ]:
my_list[1:-4] # we start from the index 1, with slicing, we stop at the 4th index from the end

In [ ]:
my_list[::2] # to extract the elements with an increment

In [ ]:
my_list[1::2] # to extract the elements with an increment

## 2.3 Updating Lists

https://docs.python.org/2/tutorial/datastructures.html#more-on-lists


### 2.3.1 Add elements
To <b>add</b> an element: we use <b>.append()</b> method

In [ ]:
my_list = [1,2,3,4,5,6,7,8,"hello",10.5]
my_list

In [ ]:
my_list.append(2)

In [ ]:
print(my_list)

In [ ]:
my_list

### 2.3.2 Insert elements

To <b>insert</b> an element to our list using index: <b>insert()</b> method

In [ ]:
my_list.insert(5,"new")

In [ ]:
print(my_list)

### 2.3.3 Update elements

To <b>change</b> an element in our list using index

In [ ]:
my_list[0]="a"

In [ ]:
print(my_list)

To <b>change</b> several elements in our list: slicing

In [ ]:
my_list[3:5]=[8,10,11,22]

In [ ]:
print(my_list)

### 2.3.4 Remove elements

To <b>remove</b> in our list: 2 methods

In [ ]:
my_list[0:2]=[]  # remove using slicing 
print(my_list)

In [ ]:
my_list

In [ ]:
del my_list[3] # to remove using keywords

In [ ]:
print(my_list)

https://www.programiz.com/python-programming/keyword-list

## 2.4  Useful operations on lists

- Concatenate two lists

In [ ]:
my_list1=[1,2,3,4,5]

In [ ]:
my_list2=[6,7,8,9,10]

In [ ]:
my_list3=my_list1+my_list2

In [ ]:
my_list3

- Duplicate a list

In [ ]:
my_list1=[1,2,3,4,5]
my_list1*3

-  Reverse elements in list

<b>.reverse()</b> method is used to reverse elements in list

In [ ]:
my_list1=[1,2,3,4,5]
print(my_list1)
my_list1.reverse()
print(my_list1)

- Count elements in list

<b>.count()</b> method is used to return count of how many times obj occurs in list.

In [ ]:
my_list2= ["a","a","a","b","c","c"]
my_list2.count("a")


- <b>.index()</b> method returns the lowest index in list that obj appears

In [ ]:
my_list2=["a","a","a","b","c","c"]
my_list2.index("c")

- function <b>sum()</b>

In [ ]:
my_list1=[1,2,3,4,5]
sum(my_list1)

- function <b>.len()</b> gives the total length of the list.

In [ ]:
len(my_list1)

- <b>.sort()</b> function to sort objects of list

In [ ]:
my_list = [90,3,8,4,1,10,25,99]
my_list.sort()

In [ ]:
my_list

In [ ]:
my_list = [90,3,8,4,1,10,25,99]
my_list

In [ ]:
my_list.sort()

In [ ]:
my_list.reverse()

In [ ]:
my_list

- <b>min()</b> and <b>max()</b> functions to return the <b>minimum</b> and the <b>maximum</b> from list

In [ ]:
my_list

In [ ]:
min(my_list)

In [ ]:
max(my_list)

- example applying a loop <b>for</b> and <b>print()</b> function to return values from a list

In [ ]:
list_month = ["jan","feb","mar"]
for month in list_month:
    print(month)

- <b>enumerate()</b> function to return values and index

In [ ]:
list_month = ["jan","feb","mar"]
for month in enumerate(list_month):
     print(month)

- <b>.split()</b> method to transform string into list

In [ ]:
my_string = "January-February-March"
my_string.split("-")

- <b>.join()</b> method to transform list into string

In [ ]:
list1 = ['January', 'February', 'March']
":".join(list1)

## 2.5 Loop over lists

You can loop over the elements of a list like this:

In [ ]:
list1 = ['January', 'February', 'March']

In [ ]:
for month in list1:
    print(month)

If you want access to the index of each element within the body of a loop, use the built-in enumerate function:

In [ ]:
list1 = ['January', 'February', 'March']
for idx, month in enumerate(list1):
    print('#%d: %s' % (idx + 1, month))

## 2.6 List comprehensions

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

But, with You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

## 2.7 Tuples


- 1 tuple is a list, a set of stored values, but with the difference that a tuple can not be modified as in a list.

- the interest of a tuple is what is stored in a tuple will never be modifiable

- We write all the elements of a tuple by separating them with commas and all surrounded by parentheses:
             - my_tuple = (,,,,)
             
We will use a tuple to define some kinds of constants that are not intended to change

In [ ]:
tuple1=(1,2,3,4,5)

In [ ]:
tuple1

In [ ]:
tuple1[0]=0 # we can't change a tuple

In [ ]:
tuple1[1]

## - Exercice on lists:


        1- Create a list named "my_notes" which contains the following numbers:
                     19,7,15,9,10,6,18,10,16,14,13,10,2,20,17,8,12,10,11,4

        2- Calculate the overall average of this class of 20 students and put the result in a variable called "general_note"

        3- Find the lowest score and the highest score

        4- Sort the list of notes from largest to smallest
        
        5- Replace note 2 by 6
        
        6- Count the number of notes equal to 10 in the class

        7- Count the number of notes equal to 10 in the class
        
        8- Find the number of students with a grade> 10

1- Création de la liste mes notes

In [ ]:
mes_notes=[19,7,15,9,10,6,18,10,16,14,13,10,2,20,17,8,12,10,11,4]

In [ ]:
mes_notes

2 - calcul de la moyenne  générale et assignation du résultat dans une variable: on va importer la librairie mathématique numpy

In [ ]:
import numpy
moyenne_generale=numpy.mean(mes_notes)

In [ ]:
moyenne_generale

3- trouver la note la plus petite et la note la plus grande: fonctions min() et max()

In [ ]:
min(mes_notes)

In [ ]:
max(mes_notes)

- trier les notes de la plus grande à la plus petite: 2 méthodes 
    - methode 1 :

In [ ]:
mes_notes.sort()

In [ ]:
mes_notes

In [ ]:
mes_notes.reverse()

In [ ]:
mes_notes

   - Méthode 2: utilisation de l'option reverse de la méthode .sort()

In [ ]:
help(mes_notes.sort)

In [ ]:
mes_notes.sort(reverse=True)

In [ ]:
mes_notes

 - Modifier la note 2 par 6

In [ ]:
mes_notes[19]=6

In [ ]:
mes_notes

- combien d'élèves ont 10 ? : méthode count()

In [ ]:
mes_notes.count(10)

- Combien d'élèves ont une note supérieur à 10: on va passer par un array ou un tableau, grâce à ce type, on pourra faire une comparaison

In [ ]:
mes_notes_array=numpy.asarray(mes_notes)

In [ ]:
mes_notes_array

In [ ]:
mes_notes_array[mes_notes_array>10] # affichage des notes supérieures à 10

In [ ]:
mes_notes_array>10 # cette opération est un masque avec des booléens

In [ ]:
len(mes_notes_array[mes_notes_array>10])

In [ ]:
mes_notes_array[mes_notes_array>10]